@import "../variables.scss";

.login-container {
    display: flex;
    height: 100%;
}

.login-form{
    display: flex;
    margin: auto;
    flex-direction: column;

    input, button {
        padding: 0.25em;
        margin: 0.25em;
        border-radius: 5px;
        font-size: 1.25rem;
        background: $light-foreground;
    }
    input {
        border: none;
    }
    button {
        transition: 250ms all;
        width: 50%;
        &:hover {
            background: $hover-background;
            cursor: pointer;
            color: white;
        }
    }
}


.loginBtn {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}