@import "../../variables.scss";

$footer-height: 1rem;

.footer {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: $max-site-width;
    margin: auto;
}

.footer-extension {
    background-color: #C4C4C4;
    height: $footer-height;
    width: 100%;
}