@import "../../variables.scss";

.pronunciation {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $medium-max-width;
    margin: auto;

    .pronunciation--heading {
        margin: 0.5em 0;
        font-size: 1rem;
    }

    .pronunciation-nav {
        display: flex;
        ol {
            list-style: none;
            display: flex;
            margin: auto;

            a, a:visited {
                padding: 0.5rem 1rem;
                transition: 250ms all linear;
                border-radius: 5px 5px 0 0;
                text-decoration: none;
                color: $light-foreground;
                background: $dark-background;

                &:hover, &.active {
                    background: $light-foreground;
                    color: $dark-background;
                    cursor: pointer;
                }
            }
        }
        border-bottom: 3px solid $light-foreground;
    }
}