@import "../../variables.scss";

.pronunciation {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $medium-max-width;
    margin: auto;

    .pronunciation--heading {
        margin: 0.5em 0;
        font-size: 1rem;
    }
}