@import "../../variables.scss";

$header-height: 3rem;

.header-extension {
    background-color: #C4C4C4;
    height: $header-height;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: $medium-max-width;
    margin: auto;

    .home-icon {
        width: 42px;
    }
}

.site-heading {
    color: #333;
    margin: auto;
    font-size: 1.5rem;
}